* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f8fa;
}

nav {
  border-bottom: #d9d9d9 1px solid;
}

#nav-links-container {
  display: flex !important;
}

#nav-links-container > a {
  color: black !important;
}

header {
  display: flex;
  padding: 0px 5% 0 5%;
  margin: 0px 0 20px 0;
  height: 200px;
  text-align: center;
}

header > div {
  margin: auto;
}

h1 {
  margin: 10px 0 10px 0;
}

#main-container {
  margin: 0px auto 0 auto;
  padding: 10px;
  width: min(1000px, 90%);
  background-color: white;
  border-radius: 0.5%;
}

#project-links-container > a {
  margin: 0 5px 0 5px;
}

section {
  padding: 20px 2% 20px 2%;
}

section > h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
}
